.main{
    margin: .5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 85vh;
    position: relative;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    background-image: url('../Images/preview1.jpg');
    background-size: cover;
    animation: preview 40s  infinite ease-in-out;
}
@keyframes preview {
    0%{
        background-image: url('../Images/preview1.jpg');
    }
    20%{
        background-image: url('../Images/preview2.jpg');
    }
    40%{
        background-image: url('../Images/preview3.jpg');        
    }
    60%{
    background-image: url('../Images/preview4.jpg');
        
    }
    80%{
        background-image: url('../Images/prev2.avif');
    }
    100%{
        background-image: url('../Images/preview1.jpg');        
    }
}
.booking{
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    margin-bottom: -5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    padding: 2rem;
    border-radius: 1rem;
    width: 70%;
    height: 25vh;
    
}
.fieldsContainer{
    display: flex;
}
.fields{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-evenly;
    /* padding: 2rem; */
    /* font-size: 1.2rem; */
}
.fields input , select{
    padding: .5rem;
}
.fieldsContainer .submitBtn {
    margin-top: 1rem;
    width: max-content;
}
.fieldsContainer label{
    font-weight: 600;
}
.fieldsContainer .submitBtn input{
    cursor: pointer;
    padding: .5rem  1.5rem;
    border: none;
    border-radius: .2rem;
    border-bottom: .1rem solid black;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 1);
    background-color: rgb(61, 228, 61);
    /* color: white; */
}